<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_userList_style.css}" />
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <!-- userList를 반복하면서 테이블 행에 데이터 출력 -->
    <tr th:each="user : ${userList}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.gender}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>