<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    #results {
        position: absolute;
        top: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #results > div {
        flex: 1;
        min-width: 300px;
        max-width: 45%;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    canvas {
        width: 100% !important;
        height: auto !important;
    }
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>
<body>
<div class="header-wrapper">
    <div class="menu-button-wrapper">
        <button type="button" class="btn btn-light" id="menu-button">
            <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/list.svg" />
        </button>
    </div>
    <h2 class="issue-market-title">Issue Market</h2>
    <div class="items">
        <button type="button" class="btn btn-light"><div class="text-wrapper-16">Page1</div></button>
        <button type="button" class="btn btn-light"><div class="text-wrapper-16">Page2</div></button>
        <button type="button" class="btn btn-light"><div class="text-wrapper-16">Page3</div></button>
<!--        <button type="button" class="btn btn-dark" th:onclick="|location.href='@{/login}'|"><div class="text-wrapper-17">로그인</div></button>-->
            <button type="button" class="btn btn-dark" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/logout}'|">
                <div class="text-wrapper-17">로그아웃</div>
            </button>
            <button type="button" class="btn btn-dark" sec:authorize="!isAuthenticated()" th:onclick="|location.href='@{/login}'|">
                <div class="text-wrapper-17">로그인</div>
            </button>
    </div>
</div>
<div class="divider"></div>
<div class="box">
    <div class="group">
        <div class="overlap-group">
            <div class="homepage">
                <div class="element-table">
                    <div class="text-wrapper">키워드</div>
                    <div class="div">검색량</div>
                    <div class="title">실시간 인기순위</div>
                    <div class="list">
                        <div th:each="keywordItem : ${keyword}">
                            <div class="frame">
                                <div class="text-wrapper-3" th:text="${keywordItem.getKeyword()}"></div>
                                <div class="text-wrapper-4" th:text="${keywordItem.getTotal()}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="element-table-2">
                    <div class="text-wrapper">키워드</div>
                    <div class="div">검색량</div>
                    <div class="title">기간별 인기순위</div>
                    <div class="list">
                        <div th:each="keywordItem2 : ${keyword2}">
                            <div class="frame">
                                <div class="text-wrapper-5" th:text="${keywordItem2.getKeyword()}"></div>
                                <div class="text-wrapper-6" th:text="${keywordItem2.getPc()}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="element-input-field-with">
                    <!-- Adding form to collect input and submit it to Spring Boot -->
                    <form id="keywordForm" method="get" class="d-flex">
                        <div class="form-group mr-2">
                            <input type="text" id="keyword_search" name="keyword_search" class="form-control" placeholder="Placeholder" required>
                        </div>
                        <button type="submit" class="btn btn-dark bigbutton">
                            <div class="text-wrapper-12">Submit</div>
                        </button>
                    </form>
                </div>
                <div class="element-header-navigation">
                    <div class="element-sidebar" id="sidebar">
                        <div class="list-3">
                            <div class="menu-item"><div class="text-wrapper-13">Discover</div></div>
                            <div class="menu-item-2">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/home.svg" />
                                <div class="text-wrapper-14">Home</div>
                            </div>
                            <div class="menu-item-3">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/search.svg" />
                                <div class="text-wrapper-14">영화</div>
                            </div>
                            <div class="menu-item-3">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14">음악</div>
                            </div>
                            <div class="menu-item-3">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14">배우</div>
                            </div>
                            <div class="menu-item-3">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14">가수</div>
                            </div>
                        </div>
                        <div class="list-4">
                            <div class="div-wrapper"><div class="text-wrapper-15">Library</div></div>
                            <div class="menu-item-3">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/list.svg" />
                                <div class="text-wrapper-14">필터링</div>
                            </div>
                            <div class="menu-item-3">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/music.svg" />
                                <div class="text-wrapper-14">즐겨찾기</div>
                            </div>
                        </div>
                        <div class="title-2">Menu</div>
                    </div>
                </div>
                <div id="results">
                    <div>
                        <h3>Keyword Data</h3>
                        <pre id="keywordData"></pre>
                    </div>
                    <div>
                        <h3>Gender Ratio</h3>
                        <canvas id="genderChart"></canvas>
                    </div>
                    <div>
                        <h3>Age Ratio</h3>
                        <canvas id="ageChart"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    document.getElementById('menu-button').addEventListener('click', function() {
        var sidebar = document.getElementById('sidebar');
        var overlay = document.getElementById('overlay');
        sidebar.classList.toggle('sidebar-visible');
        overlay.classList.toggle('overlay-visible');
    });

    // document.getElementById('overlay').addEventListener('click', function() {
    //     var sidebar = document.getElementById('sidebar');
    //     var overlay = document.getElementById('overlay');
    //     sidebar.classList.remove('sidebar-visible');
    //     overlay.classList.remove('overlay-visible');
    // });
    //
    // document.addEventListener('DOMContentLoaded', function() {
    //     var menuButton = document.getElementById('menu-button');
    //     var sidebar = document.getElementById('sidebar');
    //     var overlay = document.getElementById('overlay');
    //
    //     // 메뉴 버튼 클릭 시 sidebar를 보이거나 숨깁니다.
    //     menuButton.addEventListener('click', function() {
    //         sidebar.classList.toggle('sidebar-visible');
    //         overlay.classList.toggle('overlay-visible');
    //     });
    //
    //     // overlay를 클릭하여 sidebar를 닫습니다.
    //     overlay.addEventListener('click', function() {
    //         sidebar.classList.remove('sidebar-visible');
    //         overlay.classList.remove('overlay-visible');
    //     });
    // });

    document.getElementById('keywordForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const keyword_s = document.getElementById('keyword_search').value;
        fetch(`/search?groupName=${keyword_s}&keywords=${keyword_s}`,
            {
                method: 'POST', // POST 메소드 사용
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('keywordData').textContent = JSON.stringify(data.naverData, null, 2);
                const genderData = data.kakaoData.gender;
                const ageData = data.kakaoData.age;

                const genderCtx = document.getElementById('genderChart').getContext('2d');
                new Chart(genderCtx, {
                    type: 'pie',
                    data: {
                        labels: ['Male', 'Female'],
                        datasets: [{
                            data: [genderData.male, genderData.female],
                            backgroundColor: ['#36A2EB', '#FF6384']
                        }]
                    }
                });

                const ageCtx = document.getElementById('ageChart').getContext('2d');
                new Chart(ageCtx, {
                    type: 'bar',
                    data: {
                        labels: ['10대', '20대', '30대', '40대', '50대', '60대'],
                        datasets: [{
                            data: [ageData['10'], ageData['20'], ageData['30'], ageData['40'], ageData['50'], ageData['60']],
                            backgroundColor: '#4BC0C0'
                        }]
                    }
                });
            })
            .catch(error => console.error('Error:', error));
    });
</script>
</body>
</html>