Webtoon.html

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/substyle.css">
</head>

<body>
<div class="header-wrapper" id="header-wrapper">
    <div class="menu-button-wrapper">
        <button type="button" class="btn btn-light" id="menu-button">
            <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/list.svg" />
        </button>
        <button class="issue-market-title btn btn-link d-flex align-items-center" id="issue-market-title">
            <img src="/css/image/logo_black.png" alt="Logo" style="height: 60px; width: 110px; margin-left: 5px">
            <span>&nbsp;Issue Market</span>
        </button>
    </div>
    <div class="items">
        <button type="button" class="btn btn-danger" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/admin'">
            <div class="text-wrapper-17" th:text="#{admin_page}">관리자 페이지</div>
        </button>
        <button type="button" class="btn btn-dark" sec:authorize="isAuthenticated()" onclick="location.href='/logout'">
            <div class="text-wrapper-17" th:text="#{logout}">로그아웃</div>
        </button>
        <button type="button" class="btn btn-dark" sec:authorize="!isAuthenticated()" onclick="location.href='/login'">
            <div class="text-wrapper-17" th:text="#{login}">로그인</div>
        </button>
    </div>
</div>

<div class="element-input-field-with">
    <form id="keywordForm" action="/searchKeyword" method="post" class="d-flex">
        <div class="form-group mr-2" style="flex: 1;">
            <input type="text" id="keyword_search" name="keyword_search" class="form-control" placeholder="Placeholder" required>
        </div>
        <button type="submit" class="btn btn-dark bigbutton">
            <div class="text-wrapper-12" th:text="#{submit}">Submit</div>
        </button>
    </form>
</div>

<div class="box">
    <div class="group">
        <div class="overlap-group">
            <div class="homepage">
                <div class="element-tables">
                    <div class="element-table">
                        <div class="title" th:text="#{real_time_popularity}">실시간 인기순위(Total)</div>
                        <div class="table-header">
                            <div class="text-wrapper" th:text="#{keyword}">키워드</div>
                            <div class="div" th:text="#{Searchvolume}">검색량</div>
                        </div>
                        <div class="list">
                            <div th:each="keywordItem, iterStat : ${keywords}">
                                <button class="keyword-button frame" onclick="expandButton(this)">
                                    <div class="keyword-wrapper d-flex justify-content-between align-items-center">
                                        <div class="text-wrapper-3"
                                             th:with="rank=${(currentPage * 10) + iterStat.index + 1}"
                                             th:text="${rank} + '. ' + ${keywordItem.keyword}"
                                             style="cursor: pointer;"
                                             onclick="submitKeyword(this.getAttribute('data-keyword')); event.stopPropagation();"
                                             th:attr="data-keyword=${keywordItem.keyword}">
                                        </div>
                                        <div class="text-wrapper-4 ml-2" th:text="${keywordItem.total}"></div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="article-url" th:if="${keywordItem.articleUrl}" style="display: none;">
                                        기사 URL: <a th:href="${keywordItem.articleUrl}" th:text="${keywordItem.articleTitle}" target="_blank">기사 제목</a>
                                    </div>
                                </button>
                            </div>
                        </div>

                        <div class="pagination-wrapper">
                            <div class="pagination-dots">
                                <th:block th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(page=${pageNum})}"
                                       th:class="${pageNum == currentPage ? 'dot active' : 'dot'}"
                                       th:onclick="'updateActiveDot(this); return true;'">
                                    </a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="element-header-navigation">
                    <div class="element-sidebar" id="sidebar">
                        <div class="top-divider"></div>
                        <div class="list-3">
                            <button class="menu-item" id="home-button">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/home.svg" />
                                <div class="text-wrapper-14" th:text="#{home}">Home</div>
                            </button>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/search.svg" />
                                <div class="text-wrapper-14" th:text="#{movie}">영화</div>
                            </button>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14" th:text="#{music}">음악</div>
                            </button>
                            <button class="menu-item" id="actor-button">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14" th:text="#{actor}">배우</div>
                            </button>
                            <button class="menu-item" id="webtoon-button">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14" th:text="#{webtoon}">웹툰</div>
                            </button>
                        </div>
                        <div class="list-4" sec:authorize="isAuthenticated()">
                            <div class="library-header">Library</div>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/list.svg" />
                                <div class="text-wrapper-14">필터링</div>
                            </button>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/music.svg" />
                                <div class="text-wrapper-14">즐겨찾기</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" id="overlay"></div>

<script th:inline="javascript">
    function updateActiveDot(clickedDot) {
        document.querySelectorAll('.dot').forEach(dot => {
            dot.classList.remove('active');
        });
        clickedDot.classList.add('active');
    }

    document.addEventListener('DOMContentLoaded', function() {
        const currentPage = [[${currentPage}]];
        const dots = document.querySelectorAll('.dot');
        if (dots[currentPage]) {
            dots[currentPage].classList.add('active');
        }
    });

    function submitKeyword(keyword) {
        document.getElementById('keyword_search').value = keyword;
        document.getElementById('keywordForm').submit();
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var menuButton = document.getElementById('menu-button');
        var sidebar = document.getElementById('sidebar');
        var overlay = document.getElementById('overlay');
        var issueMarketTitle = document.getElementById('issue-market-title');
        var homeButton = document.getElementById('home-button');

        menuButton.addEventListener('click', function() {
            sidebar.classList.toggle('sidebar-visible');
            overlay.classList.toggle('overlay-visible');
        });

        overlay.addEventListener('click', function() {
            sidebar.classList.remove('sidebar-visible');
            overlay.classList.remove('overlay-visible');
        });

        issueMarketTitle.addEventListener('click', function() {
            window.location.href = 'index';
        });

        homeButton.addEventListener('click', function() {
            window.location.href = 'index';
        });

        document.getElementById('actor-button').addEventListener('click', function() {
            window.location.href = 'actor';
        });

        document.getElementById('webtoon-button').addEventListener('click', function() {
            window.location.href = 'webtoon';
        });
    });

    function expandButton(button) {
        if (button.classList.contains('expanded')) {
            button.style.height = '48px';
            button.querySelector('.article-url').style.display = 'none';
            button.classList.remove('expanded');
        } else {
            button.style.height = '198px';
            button.querySelector('.article-url').style.display = 'block';
            button.classList.add('expanded');
        }
    }

    document.querySelectorAll('.keyword-button .text-wrapper-3').forEach(wrapper => {
        wrapper.addEventListener('click', function(event) {
            const button = this.closest('.keyword-button');
            const keyword = this.innerText.split('. ')[1];
            submitKeyword(keyword);
            event.stopPropagation();
        });
    });

    function saveKeyword(button) {
        var keyword = button.getAttribute("data-keyword");
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/keywords", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        var data = JSON.stringify({keyword:keyword});
        xhr.send(data);
    }
</script>
</body>
</html>