<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/substyle.css">
</head>

<body>
<div class="header-wrapper" id="header-wrapper">
    <div class="menu-button-wrapper">
        <button type="button" class="btn btn-light" id="menu-button">
            <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/list.svg" />
        </button>
        <button class="issue-market-title btn btn-link d-flex align-items-center" id="issue-market-title">
            <img src="/css/image/logo_black.png" alt="Logo" style="height: 60px; width: 110px; margin-left: 5px">
            <span>&nbsp;Issue Market</span>
        </button>
    </div>
    <div class="items">
        <button type="button" class="btn btn-dark" sec:authorize="isAuthenticated()" onclick="location.href='/logout'">
            <div class="text-wrapper-17">로그아웃</div>
        </button>
        <button type="button" class="btn btn-dark" sec:authorize="!isAuthenticated()" onclick="location.href='/login'">
            <div class="text-wrapper-17">로그인</div>
        </button>
    </div>
</div>

<div class="element-input-field-with">
    <form id="keywordForm" method="get" class="d-flex">
        <div class="form-group mr-2" style="flex: 1;">
            <input type="text" id="keyword_search" name="keyword_search" class="form-control" placeholder="Placeholder" required>
        </div>
        <button type="submit" class="btn btn-dark bigbutton">
            <div class="text-wrapper-12">Submit</div>
        </button>
    </form>
</div>


<div class="box">
    <div class="group">
        <div class="overlap-group">
            <div class="homepage">
                <div class="element-tables">
                    <!-- 1~5위 데이터 -->
                    <div class="element-table">
                        <div class="title">실시간 인기순위(Total)</div>
                        <div class="table-header">
                            <div class="text-wrapper">키워드</div>
                            <div class="div">검색량</div>
                        </div>
                        <div class="list">
                            <div th:each="keywordItem, iterStat : ${keyword}" th:if="${iterStat.index < 10}">
                                <button class="keyword-button frame" onclick="expandButton(this)">
                                    <div class="keyword-wrapper">
                                        <div class="text-wrapper-3" th:text="(${iterStat.index} + 1 + '. ') + ${keywordItem.getKeyword()}"></div>
                                        <div class="text-wrapper-4" th:text="${keywordItem.getTotal()}"></div>
                                    </div>
                                    <div class="divider"></div>   
                                    <div class="article-url" style="display: none;">기사 URL: <a href="기사 URL 주소">기사 제목</a></div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 6~10위 데이터 -->

                </div>

                <div class="element-header-navigation">
                    <div class="element-sidebar" id="sidebar">
                        <div class="top-divider"></div> <!-- 사이드바 맨 위에 추가된 검은 줄 -->
                        <div class="list-3">
                            <button class="menu-item" id="home-button">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/home.svg" />
                                <div class="text-wrapper-14">Home</div>
                            </button>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/search.svg" />
                                <div class="text-wrapper-14">영화</div>
                            </button>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14">음악</div>
                            </button>
                            <button class="menu-item" id="actor-button"> <!-- id를 추가해줍니다 -->
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14">배우</div>
                            </button>
                            <button class="menu-item" id="webtoon-button">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/radio-2.svg" />
                                <div class="text-wrapper-14">웹툰</div>
                            </button>
                        </div>
                        <div class="list-4" sec:authorize="isAuthenticated()">
                            <div class="library-header">Library</div>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/list.svg" />
                                <div class="text-wrapper-14">필터링</div>
                            </button>
                            <button class="menu-item">
                                <img class="img" src="https://c.animaapp.com/Z0sstfyg/img/music.svg" />
                                <div class="text-wrapper-14">즐겨찾기</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var menuButton = document.getElementById('menu-button');
        var sidebar = document.getElementById('sidebar');
        var overlay = document.getElementById('overlay');
        var issueMarketTitle = document.getElementById('issue-market-title');
        var homeButton = document.getElementById('home-button');

        menuButton.addEventListener('click', function() {
            sidebar.classList.toggle('sidebar-visible');
            overlay.classList.toggle('overlay-visible');
        });

        overlay.addEventListener('click', function() {
            sidebar.classList.remove('sidebar-visible');
            overlay.classList.remove('overlay-visible');
        });

        issueMarketTitle.addEventListener('click', function() {
            window.location.href = 'main'; // 이슈 마켓 타이틀을 클릭하면 메인 화면으로 이동
        });

        homeButton.addEventListener('click', function() {
            window.location.href = 'main'; // 홈 버튼을 클릭하면 메인 화면으로 이동
        });

        document.getElementById('actor-button').addEventListener('click', function() {
            window.location.href = 'actor'; // 배우 버튼 클릭 시 actor로 이동
        });

        document.getElementById('webtoon-button').addEventListener('click', function() {
            window.location.href = 'webtoon'; // 웹툰 버튼 클릭 시 webtoon으로 이동
        });

        function expandButton(element) {
            element.classList.toggle('expanded');
        }

    });

    function expandButton(button) {
        if (button.style.height === '198px') {
            button.style.height = '48px';
            button.querySelector('.article-url').style.display = 'none';
            button.classList.remove('expanded');
        } else {
            button.style.height = '198px';
            button.querySelector('.article-url').style.display = 'block';
            button.classList.add('expanded');
        }
    }
</script>
</body>
</html>
